{{> head}}
{{> navbar}}

    <div class="row">
        <div class="col-8">
            <h1>My Hero Academia</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit consequatur illo voluptatem ducimus qui iure necessitatibus distinctio, minima doloremque asperiores nobis amet dolor cum cumque voluptates consequuntur dignissimos. At, porro.
            Tenetur laboriosam, dolorum expedita aliquid quas dignissimos. Quae quos vitae fuga necessitatibus non tenetur? Atque deleniti accusantium nobis impedit deserunt, ab ipsum tenetur praesentium.
            Ad dolor,A dolorum numquam, tempora, iste quasi perferendis sit magni impedit necessitatibus sunt, soluta quidem ex itaque reiciendis quos doloremque nisi blanditiis tempore?
            Eligendi aspernatur quidem enim esse. Delectus necessitatibus molestias inventore unde reprehenderit corrupti numquam voluptatibus, maiores illo nihil explicabo eius ex eos! Illum, doloremque sint? Cupiditate fuga odit ad sequi harum.</p>
        </div>

        <div class="col-4">
            <img src="assets/img/917588.png"  class="img-thumbnail">
        </div>
    </div>

{{>footer}}